<!DOCTYPE html>
<html>
  <head>
    <!--- Meta tags; always required -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--- JsPsych package -->
    <script src="https://unpkg.com/jspsych@7.3.4"></script>
    <!--- JsPsych preload plugin -->
    <script src="https://unpkg.com/@jspsych/plugin-preload@1.1.3"></script>
    <!--- JsPsych stimuli display and response plugins -->
    <script src="https://unpkg.com/@jspsych/plugin-html-keyboard-response@1.1.3"></script>
    <script src="https://unpkg.com/@jspsych/plugin-canvas-keyboard-response@1.1.3"></script>
    <script src="https://unpkg.com/@jspsych/plugin-image-keyboard-response@1.1.3"></script>
    <script src="https://unpkg.com/@jspsych/plugin-survey-likert@1.1.3"></script>
    <script src="https://unpkg.com/@jspsych/plugin-html-button-response@1.2.0"></script>
    <script src="https://unpkg.com/@jspsych-contrib/plugin-pipe"></script>
    <!--- jquery package -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!--- node.js package -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type="module" src="../static/require.js"></script>
    <!--- <script type="module">
      const url_con = '../resources/jsons/conservative/stimuli_con.json';
      const response_con = await fetch(url_con);
      const stimuli_data_conservative = await response_con.json();
      console.log(stimuli_data_conservative); // Works! (only in modules)
    </script>
    <script type="module">
      const url_lib = '../resources/jsons/liberal/stimuli_lib.json';
      const response_lib = await fetch(url_lib);
      const stimuli_data_liberal = await response_lib.json();
      console.log(stimuli_data_liberal); // Works! (only in modules)
    </script>
    <script type="module">
      const url_attentioncheck = '../resources/jsons/attentioncheck/stimuli_attentioncheck.json';
      const response_attentioncheck = await fetch(url_attentioncheck);
      const attentioncheck_data = await response_attentioncheck.json();
      console.log(attentioncheck_data); // Works! (only in modules)
    </script>
    <script type="module">
      const url_instructions = '../resources/jsons/instructions/stimuli_instructions.json';
      const response_instructions = await fetch(url_instructions);
      var instructions_data = await response_instructions.json();
      console.log(instructions_data); // Works! (only in modules)
    </script> --->
    <!--- bootstrap package -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!--- JsPsych style sheet -->
    <link href="https://unpkg.com/jspsych@7.3.4/css/jspsych.css" rel="stylesheet" type="text/css" />
    <!--- Bootstrap stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!---<link rel="shortcut icon" href="../static/favicon.png">--->
    <style>
      html * {
        font-family: Arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <!--- container div for entire experiment screen -->
    <div id="experimentcontainer" class="container-fluid pt-5 pb-5 h-75">
    </div>
  </body>
  <script src="../static/trustworthiness.js"></script>
</html>